:root { 
    /* for later */
    --primary: ;
    --secondary: ;
    --highlights: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#books{
    display: flex;
    flex-direction: column;
}

#authorName{
    display: flex;
    flex-direction: column;
}
#bookColumns{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly
}

table {
    width: 80%
}

nav {
    margin: 10px;
}
nav .control {
    margin-top: 5px;
}

.intro{
    text-align: center;
    padding: 10px;
    justify-content: space-between;
}

.intro h1 {
    font-size: 35px;
    padding: 20px;
}

.article {
    align-items: center;
}

.fa-book-medical{
    padding-top: 4%;
    padding-left: 40px;
    /* line-height: 50px; */
}

.intro p {
    font-size: 18px;
    padding: 5px;
}

footer {
    margin-top: 10px;
}

#logo {
    width: 200px;
    max-height: none;
}
#searchForm {
    margin-top: 10px;
}

.collapsed {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

p.noexpand + a {
    display: none;
}